#div1{
    background-color: red;
    height: 300px;
    width: 1335px;
    padding-top: 10%;
    }
#div2{
    background-color: yellow;
    height: 300px;
    width: 1335px;
    padding-top: 10%;
    }
#div3{
    background-color: blue;
    height: 300px;
    width: 1335px;
    padding-top: 10%;
    }
#div4{
    background-color: green;
    height: 300px;
    width: 1335px;
    padding-top: 10%;
    }
h1{
    color: white;
    padding-left: 40%;
    font-size: 50px;